a {
    text-decoration: none !important;
}
ul {
    display: flex;

    li {
        list-style: none;
        margin-right: 15px;
    }
}

.header {
    display: flex;

}

.setting-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;

    button {
        margin-left: 20px;
    }
}